html {
    scroll-behavior: smooth;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212530;

}

/* Background styling */
body {
    margin: 0;
    padding: 0;
    height: 200vh;
    overflow-y: scroll;
    position: relative;
}

/* Stars animation */
.star {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
    z-index: 0;
}

/* Animation for twinkling stars */
@keyframes twinkle {
    0% {
        opacity: 0.2;
        transform: scale(0.9);
    }

    50% {
        opacity: 0.8;
        transform: scale(1);
    }

    100% {
        opacity: 0.2;
        transform: scale(0.9);
    }
}

/* Create random star positions and sizes */
.star1 {
    width: 2px;
    height: 2px;
    top: 10%;
    left: 15%;
    animation-duration: 3s;
}

.star2 {
    width: 3px;
    height: 3px;
    top: 20%;
    left: 30%;
    animation-duration: 2s;
}

.star3 {
    width: 1.5px;
    height: 1.5px;
    top: 35%;
    left: 50%;
    animation-duration: 4s;
}

.star4 {
    width: 2.5px;
    height: 2.5px;
    top: 50%;
    left: 70%;
    animation-duration: 3s;
}

.star5 {
    width: 3px;
    height: 3px;
    top: 60%;
    left: 85%;
    animation-duration: 5s;
}

.star6 {
    width: 2px;
    height: 2px;
    top: 15%;
    left: 80%;
    animation-duration: 2.5s;
}

.star7 {
    width: 2.5px;
    height: 2.5px;
    top: 25%;
    left: 5%;
    animation-duration: 4s;
}

.star8 {
    width: 3px;
    height: 3px;
    top: 5%;
    left: 60%;
    animation-duration: 3s;
}

.star9 {
    width: 1.8px;
    height: 1.8px;
    top: 45%;
    left: 25%;
    animation-duration: 3.2s;
}

.star10 {
    width: 2px;
    height: 2px;
    top: 55%;
    left: 15%;
    animation-duration: 2.7s;
}

.star11 {
    width: 3px;
    height: 3px;
    top: 70%;
    left: 90%;
    animation-duration: 3.1s;
}

.star12 {
    width: 2.2px;
    height: 2.2px;
    top: 65%;
    left: 40%;
    animation-duration: 4.5s;
}

.star13 {
    width: 3px;
    height: 3px;
    top: 80%;
    left: 30%;
    animation-duration: 3.7s;
}

.star14 {
    width: 2px;
    height: 2px;
    top: 50%;
    left: 10%;
    animation-duration: 5s;
}

.star15 {
    width: 2.5px;
    height: 2.5px;
    top: 75%;
    left: 75%;
    animation-duration: 4s;
}

.star16 {
    width: 1.8px;
    height: 1.8px;
    top: 20%;
    left: 85%;
    animation-duration: 2.3s;
}

.star17 {
    width: 3px;
    height: 3px;
    top: 40%;
    left: 60%;
    animation-duration: 4.2s;
}

.star18 {
    width: 1.5px;
    height: 1.5px;
    top: 80%;
    left: 50%;
    animation-duration: 3.4s;
}

.star19 {
    width: 2px;
    height: 2px;
    top: 60%;
    left: 20%;
    animation-duration: 3.9s;
}

.star20 {
    width: 2.5px;
    height: 2.5px;
    top: 25%;
    left: 75%;
    animation-duration: 2.8s;
}

.star21 {
    width: 3px;
    height: 3px;
    top: 70%;
    left: 40%;
    animation-duration: 3.5s;
}

.star22 {
    width: 2px;
    height: 2px;
    top: 90%;
    left: 10%;
    animation-duration: 4.1s;
}

.star23 {
    width: 1.5px;
    height: 1.5px;
    top: 15%;
    left: 45%;
    animation-duration: 3s;
}

.star24 {
    width: 3px;
    height: 3px;
    top: 50%;
    left: 5%;
    animation-duration: 3.3s;
}

.star25 {
    width: 2px;
    height: 2px;
    top: 65%;
    left: 85%;
    animation-duration: 4.2s;
}

.star26 {
    width: 2.5px;
    height: 2.5px;
    top: 35%;
    left: 80%;
    animation-duration: 3.8s;
}

.star27 {
    width: 3px;
    height: 3px;
    top: 45%;
    left: 65%;
    animation-duration: 2.5s;
}

.star28 {
    width: 2px;
    height: 2px;
    top: 75%;
    left: 30%;
    animation-duration: 4s;
}

.star29 {
    width: 1.8px;
    height: 1.8px;
    top: 30%;
    left: 20%;
    animation-duration: 3s;
}

.star30 {
    width: 2.2px;
    height: 2.2px;
    top: 10%;
    left: 90%;
    animation-duration: 3.6s;
}

.star31 {
    width: 2px;
    height: 2px;
    top: 5%;
    left: 25%;
    animation-duration: 4.4s;
}

.star32 {
    width: 2.5px;
    height: 2.5px;
    top: 70%;
    left: 15%;
    animation-duration: 3s;
}

.star33 {
    width: 1.5px;
    height: 1.5px;
    top: 50%;
    left: 45%;
    animation-duration: 3.1s;
}

.star34 {
    width: 2.8px;
    height: 2.8px;
    top: 60%;
    left: 75%;
    animation-duration: 2.9s;
}

.star35 {
    width: 2px;
    height: 2px;
    top: 40%;
    left: 80%;
    animation-duration: 4.7s;
}

.star36 {
    width: 3px;
    height: 3px;
    top: 55%;
    left: 10%;
    animation-duration: 3.3s;
}

.star37 {
    width: 1.8px;
    height: 1.8px;
    top: 65%;
    left: 60%;
    animation-duration: 3.2s;
}

.star38 {
    width: 2px;
    height: 2px;
    top: 30%;
    left: 70%;
    animation-duration: 2.8s;
}

.star39 {
    width: 2.5px;
    height: 2.5px;
    top: 10%;
    left: 55%;
    animation-duration: 4.5s;
}

.star40 {
    width: 3px;
    height: 3px;
    top: 80%;
    left: 45%;
    animation-duration: 3.6s;
}

.star41 {
    width: 2px;
    height: 2px;
    top: 50%;
    left: 85%;
    animation-duration: 2.7s;
}

.star42 {
    width: 2.2px;
    height: 2.2px;
    top: 10%;
    left: 35%;
    animation-duration: 3.3s;
}

.star43 {
    width: 1.5px;
    height: 1.5px;
    top: 75%;
    left: 50%;
    animation-duration: 2.5s;
}

.star44 {
    width: 2.8px;
    height: 2.8px;
    top: 20%;
    left: 80%;
    animation-duration: 4.2s;
}

.star45 {
    width: 2px;
    height: 2px;
    top: 35%;
    left: 50%;
    animation-duration: 3s;
}

.star46 {
    width: 3px;
    height: 3px;
    top: 25%;
    left: 10%;
    animation-duration: 4.4s;
}

.star47 {
    width: 2.5px;
    height: 2.5px;
    top: 40%;
    left: 25%;
    animation-duration: 3s;
}

.star48 {
    width: 1.8px;
    height: 1.8px;
    top: 55%;
    left: 95%;
    animation-duration: 3.7s;
}

.star49 {
    width: 2px;
    height: 2px;
    top: 70%;
    left: 65%;
    animation-duration: 4s;
}

.star50 {
    width: 2.5px;
    height: 2.5px;
    top: 15%;
    left: 50%;
    animation-duration: 3.2s;
}

.star51 {
    width: 1.6px;
    height: 1.6px;
    top: 85%;
    left: 10%;
    animation-duration: 3.1s;
}

.star52 {
    width: 2px;
    height: 2px;
    top: 90%;
    left: 20%;
    animation-duration: 2.9s;
}

.star53 {
    width: 2.4px;
    height: 2.4px;
    top: 80%;
    left: 30%;
    animation-duration: 4.7s;
}

.star54 {
    width: 1.8px;
    height: 1.8px;
    top: 75%;
    left: 35%;
    animation-duration: 3.3s;
}

.star55 {
    width: 2px;
    height: 2px;
    top: 70%;
    left: 45%;
    animation-duration: 3.2s;
}

.star56 {
    width: 2.5px;
    height: 2.5px;
    top: 60%;
    left: 50%;
    animation-duration: 2.8s;
}

.star57 {
    width: 2px;
    height: 2px;
    top: 55%;
    left: 60%;
    animation-duration: 3.5s;
}

.star58 {
    width: 1.7px;
    height: 1.7px;
    top: 65%;
    left: 70%;
    animation-duration: 3s;
}

.star59 {
    width: 2.3px;
    height: 2.3px;
    top: 50%;
    left: 75%;
    animation-duration: 4s;
}

.star60 {
    width: 3px;
    height: 3px;
    top: 45%;
    left: 80%;
    animation-duration: 3.6s;
}

.star61 {
    width: 1.9px;
    height: 1.9px;
    top: 40%;
    left: 85%;
    animation-duration: 2.7s;
}

.star62 {
    width: 2px;
    height: 2px;
    top: 35%;
    left: 90%;
    animation-duration: 3.1s;
}

.star63 {
    width: 2.1px;
    height: 2.1px;
    top: 25%;
    left: 95%;
    animation-duration: 2.9s;
}

.star64 {
    width: 2.7px;
    height: 2.7px;
    top: 80%;
    left: 5%;
    animation-duration: 4.5s;
}

.star65 {
    width: 2px;
    height: 2px;
    top: 90%;
    left: 15%;
    animation-duration: 3.4s;
}

.star66 {
    width: 3px;
    height: 3px;
    top: 50%;
    left: 30%;
    animation-duration: 3.2s;
}

.star67 {
    width: 2px;
    height: 2px;
    top: 60%;
    left: 40%;
    animation-duration: 2.8s;
}

.star68 {
    width: 2.5px;
    height: 2.5px;
    top: 55%;
    left: 20%;
    animation-duration: 3.5s;
}

.star69 {
    width: 1.7px;
    height: 1.7px;
    top: 45%;
    left: 10%;
    animation-duration: 3.3s;
}

.star70 {
    width: 2.6px;
    height: 2.6px;
    top: 70%;
    left: 55%;
    animation-duration: 3.6s;
}

.star71 {
    width: 2px;
    height: 2px;
    top: 65%;
    left: 30%;
    animation-duration: 3.2s;
}

.star72 {
    width: 2.3px;
    height: 2.3px;
    top: 85%;
    left: 50%;
    animation-duration: 4.1s;
}

.star73 {
    width: 1.9px;
    height: 1.9px;
    top: 75%;
    left: 60%;
    animation-duration: 3.4s;
}

.star74 {
    width: 3px;
    height: 3px;
    top: 70%;
    left: 20%;
    animation-duration: 2.8s;
}

.star75 {
    width: 2.4px;
    height: 2.4px;
    top: 60%;
    left: 80%;
    animation-duration: 3.5s;
}

.star76 {
    width: 2.1px;
    height: 2.1px;
    top: 90%;
    left: 55%;
    animation-duration: 3.3s;
}

.star77 {
    width: 2px;
    height: 2px;
    top: 50%;
    left: 40%;
    animation-duration: 4.2s;
}

.star78 {
    width: 2.7px;
    height: 2.7px;
    top: 60%;
    left: 15%;
    animation-duration: 4.5s;
}

.star79 {
    width: 1.8px;
    height: 1.8px;
    top: 75%;
    left: 65%;
    animation-duration: 3.1s;
}

.star80 {
    width: 2.5px;
    height: 2.5px;
    top: 85%;
    left: 80%;
    animation-duration: 3s;
}

.star81 {
    width: 2.6px;
    height: 2.6px;
    top: 40%;
    left: 25%;
    animation-duration: 4s;
}

.star82 {
    width: 2px;
    height: 2px;
    top: 30%;
    left: 50%;
    animation-duration: 2.8s;
}

.star83 {
    width: 2.4px;
    height: 2.4px;
    top: 25%;
    left: 20%;
    animation-duration: 3.9s;
}

.star84 {
    width: 1.9px;
    height: 1.9px;
    top: 80%;
    left: 45%;
    animation-duration: 3.7s;
}

.star85 {
    width: 3px;
    height: 3px;
    top: 95%;
    left: 10%;
    animation-duration: 2.7s;
}

.star86 {
    width: 2.8px;
    height: 2.8px;
    top: 50%;
    left: 70%;
    animation-duration: 4.3s;
}

.star87 {
    width: 2.1px;
    height: 2.1px;
    top: 80%;
    left: 55%;
    animation-duration: 3.6s;
}

.star88 {
    width: 2px;
    height: 2px;
    top: 45%;
    left: 95%;
    animation-duration: 4.1s;
}

.star89 {
    width: 2.5px;
    height: 2.5px;
    top: 65%;
    left: 25%;
    animation-duration: 2.8s;
}

.star90 {
    width: 3px;
    height: 3px;
    top: 35%;
    left: 10%;
    animation-duration: 3.4s;
}

.star91 {
    width: 2.7px;
    height: 2.7px;
    top: 55%;
    left: 50%;
    animation-duration: 3.2s;
}

.star92 {
    width: 1.8px;
    height: 1.8px;
    top: 75%;
    left: 90%;
    animation-duration: 4.6s;
}

.star93 {
    width: 2px;
    height: 2px;
    top: 60%;
    left: 60%;
    animation-duration: 3.7s;
}

.star94 {
    width: 3px;
    height: 3px;
    top: 30%;
    left: 35%;
    animation-duration: 3.5s;
}

.star95 {
    width: 2.5px;
    height: 2.5px;
    top: 50%;
    left: 85%;
    animation-duration: 4.1s;
}

.star96 {
    width: 2.3px;
    height: 2.3px;
    top: 40%;
    left: 75%;
    animation-duration: 3.2s;
}

.star97 {
    width: 2px;
    height: 2px;
    top: 60%;
    left: 20%;
    animation-duration: 4.4s;
}

.star98 {
    width: 2.7px;
    height: 2.7px;
    top: 80%;
    left: 5%;
    animation-duration: 3s;
}

.star99 {
    width: 3px;
    height: 3px;
    top: 45%;
    left: 90%;
    animation-duration: 3.5s;
}

.star100 {
    width: 2.1px;
    height: 2.1px;
    top: 70%;
    left: 15%;
    animation-duration: 2.9s;
}

/* Navigation Bar */
header {
    background: transparent;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
}

.navbar .logo {
    height: 70px;
    width: 110px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    background-color: transparent !important;
}

.navbar ul li {
    display: flex;
    background-color: transparent !important;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffffcc;
    font-family: 'Georgia', serif;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    background-color: transparent !important;
}

.navbar-nav {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-nav .nav-item {
    display: flex;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #ffffffcc;
    font-family: 'Georgia', serif;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar ul li a:hover {
    color: #c86682;
    border-bottom: 2px solid #ffffffcc;
}

.navbar {
    background-color: transparent;
}

/* Section Containers */
section {
    margin: 50px auto;
    padding: 40px;
    background-color: #2c303a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
}

/* Section Headings (H1 and H2) Styling Inside Project Sections */
section h1,
section h2 {
    font-size: 2.5rem;
    color: #c86682;
    margin-bottom: 20px;
    text-align: center;
}

/* Paragraph Styling Inside Project Sections */
section p {
    font-size: 1.5rem;
    line-height: 1.7;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #2c303a;
    border-radius: 10px;
    color: #ffffffcc;
}

/* Strong Text Styling Inside Project Sections */
section strong {
    color: #c86682;
    font-weight: bold;
    background-color: #2c303a;
    font-size: 1.5rem;
}

/* Unordered List (UL) Styling Inside Project Sections */
section ul {
    list-style: disc;
    padding-left: 40px;
    background-color: #2c303a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* List Items (LI) Styling Inside Project Sections */
section li {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #ffffffcc;
    line-height: 1.7;
    background-color: #2c303a;
}

.screenshots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #2c303a;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.screenshots-grid img {
    width: 100%;
    height: auto;
    max-height: 60vh;
    border-radius: 25px;
    object-fit: contain;
    transition: transform 0.3s ease;
    background-color: #2c303a;
}

.screenshots-grid img:hover {
    transform: scale(1.05);
}


/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #212530;
    color: #ffffffcc;
    font-size: 1rem;
    border-top: 2px solid #c86682;
}

/* UI/UX Project Section Styling */
.project-section {
    text-align: center;
    margin: 60px 20px;
    color: #ffffffcc;
    padding: 20px;
}

/* Specific Section Styling */
.project-goals,
.design-process,
.features-highlights,
.ui-elements,
.user-flow,
.challenges-solutions,
.tools-used,
.conclusion-learnings {
    padding: 30px 60px;
    text-align: left;
    border-left: 5px solid #c86682;
    background-color: #2c303a;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* Section Headers Inside Blocks */
.project-goals h2,
.project-screenshots h2,
.design-process h2,
.features-highlights h2,
.ui-elements h2,
.user-flow h2,
.challenges-solutions h2,
.tools-used h2,
.conclusion-learnings h2 {
    margin-bottom: 15px;
    padding-left: 15px;
    background-color: #2c303a;
    border-radius: 5px;
}

.back-to-portfolio {
    text-align: center;
    margin-top: 30px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c86682;
    /* Thematic color for the button */
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
    background-color: #ffffff;
    color: #c86682;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    /* Subtle lift effect */
}

.project-overview h1 {
    font-size: 3rem;
    background-color: #2c303a;

}